/.project
/bin/Debug
/obj/Debug
/UnitTests/obj/Debug
/UnitTests/bin/Debug
/.vs
/bin/Release
/obj/Release
/UnitTests/obj/Release
/Setup/Debug
/Setup/Release
/Setup/VietOCR.NET-4.5_64
/Setup/VietOCR.NET-4.5_32
