<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="TessVersion" value="3.05.01"/>
    <add key="ReleaseDate" value="2018-03-28"/>
    <add key="Version" value="v4.6"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
</configuration>
