<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="TessVersion" value="3.05.01"/>
    <add key="ReleaseDate" value="2017-09-4"/>
    <add key="Version" value="v4.4 RC"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
